<div class="home-container">
  <img class="img place-column-2" src="assets/logo.jpg"/>
  <h1 class="page-title place-column-2">Prueba técnica</h1>
  <form class="form place-column-2" [formGroup]="login">
    <mat-form-field class="full-width">
      <mat-icon matPrefix class="icon">person</mat-icon>
      <mat-label>Email</mat-label>
      <input matInput value="" type="email" formControlName="email">
      <mat-error *ngIf="login.get('email')?.invalid && attemptedLogin">Introduzca un email valido</mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-icon matPrefix class="icon">lock</mat-icon>
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error *ngIf="login.get('password')?.invalid && attemptedLogin">Introduzca una contraseña valida (mínimo 5
        caracteres)
      </mat-error>
    </mat-form-field>
    <div class="full-width slide-container" [style.margin-top]="attemptedLogin ? '1em' : ''">
      Recordar
      <mat-slide-toggle formControlName="remember" aria-label="Recordar email y contraseña"
                        color="primary"></mat-slide-toggle>
    </div>
  </form>
  <button mat-fab extended="" (click)="logIn()" class="grid-span-3">Acceder</button>
</div>
