.home-container {
  display: grid;
  margin: auto;
  justify-items: center;
  gap: 10px;
  background: #fff;
  padding: 40px 30px 30px 30px;
  width: min(100%, 450px);

  .img {
    width: 120px;
    aspect-ratio: 1;
    background: center url("../../assets/logo.jpg");
    background-size: cover;
    background-position-x: 0;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  button {
    background: none;
    color: #000;
    padding-inline: 50px;
    box-shadow: none;
    border: 2px solid #4c8dff;
    font-size: 18px;
    letter-spacing: 0;
    margin-top: 30px;
  }

  .full-width {
    width: 100%;
  }

  .slide-container {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
  }

  .icon {
    color: #9d9fa6;
  }
}

@media (max-width: 960px) {
  .home-container {
    padding: 30px 0 0 0;
    grid-template-columns: 30px 1fr 30px;
    .img {
      position: absolute;
      top: 50px;
    }

    .page-title {
      display: none;
    }

    button {
      width: 100%;
      border-radius: 0;
      border: none;
      background: #4c8dff;
      color: #fff;
      padding: 30px;
    }

    .place-column-2 {
      grid-column: 2;
    }

    .grid-span-3 {
      grid-column: span 3;
    }
  }
}

